name: CI
on:
  pull_request:
  push:
    branches: [main]
jobs:
  nix-check:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    timeout-minutes: 90
    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/determinate-nix-action@v3
        with:
          flakehub: false
      - run: nix flake check --print-build-logs
